{% extends 'base.html' %}

{% block title %}
PPastebin - Info
{% endblock %}

{% block content %}
<div class="container main info-container">
  <h1 class="cover-heading">Please help Turkey</h1>
  <br>
  <div class="info-section">
    <img class="earthquake-img" src="https://i2.milimaj.com/i/milliyet/75/1100x570/62615da886b2472f0830b031.jpg">
    <p class="img-desc">Turkish people are suffering because of 2 earthquakes that hit the Turkey at the same time. First 7,7 and then 7,5. If you want to help please use these links below. For bbc's new about earthquake: <a href="https://www.bbc.com/news/world-middle-east-64590946">BBC Earthquake</a></p>
    <h5>For Donations</h5>
    Goverment: <a href="https://www.afad.gov.tr/depremkampanyasi2">Afad Donation</a>
    <br>
    Association: <a href="https://ahbap.org/bagisci-ol">Ahbap Donation</a>
  </div>
</div>
{% endblock %}